
<div class="card w-100 mx-auto border-top-0 border-bottom-0 border-left-0 border-right-0">
    <div class="card-header border-top-0 border-bottom-0 border-right-0 border-left-0" style="background-color:#FFFFFF;">
         <div class="col h-100 bg-light rounded-right divImage border-top-0 border-bottom-0 border-right-0">
             <div *ngIf="userToEdit.pathPhoto!=null;else noPhoto" class="tdImage text-center col-sm-2 float-left" >
             <img  class="grandeImage mt-1 mb-1" width="90" height="90" [attr.src]="'http://127.0.0.1:8080/photo/'+userToEdit.pathPhoto"/>
                 <i class="fa fa-camera actions caption" aria-hidden="true" (click)="showInputFile('updatePhotoInput')"></i>
                <input type="file" (change)="nouveauPhotoChange($event)" id="updatePhotoInput">   
             </div>
             <ng-template #noPhoto>
                <div class="tdImage text-center col-sm-2 float-left">
                    <img class="grandeImage mt-1 mb-1" width="90" height="90" src="../../../assets/images/inconnu.jpg"/>
                    <i class="fa fa-camera actions caption" aria-hidden="true" (click)="showInputFile('updatePhotoInput')"></i>
                    <input type="file" (change)="nouveauPhotoChange($event)" id="updatePhotoInput">   
                </div>
            </ng-template>
        </div>
        </div>
    <div class="card-body">

                        <form  [formGroup]="userForm" class="d-inline" (submit)="updateUserConfirm()">

                            <div class="form-groupe col-sm-5 d-inline-block align-top ml-5 mr-4 mt-3">
                    
                                <label for="Nom"  ><small>Nom  </small></label>
                                <input type="text" class="form-control" formControlName="nom" id="Nom">
                                <app-validation-message-control [control]="userForm.controls.nom"></app-validation-message-control>
                    
                                <label for="revoke" ><small>Revoke  </small></label>
                                <input type="text" class="form-control" formControlName="revoke" id="revoke">
                                <app-validation-message-control [control]="userForm.controls.revoke"></app-validation-message-control>
                    
                                <label for="password"  ><small>Password  </small></label>
                                <input type="password" class="form-control" formControlName="password" id="passwordEdit">
                                <app-validation-message-control [control]="userForm.controls.password"></app-validation-message-control>
                    
                                <label for="role"  ><small>Rôle  </small></label>
                                        <select id="roleEdit"  formControlName="role" class="form-control" >
                                            <option value="Scrum Master">Scrum Master</option>
                                            <option value="Administrateur">Admin</option>
                                            <option value="Developpeur">Développeur</option>
                                        </select>
                                        <app-validation-message-control [control]="userForm.controls.role"></app-validation-message-control>
                                </div>      
                              
                    
                        <div class="form-groupe col-sm-5 d-inline-block align-top mr-5 mt-3 ml-5 ">
                    
                                <label for="prenom ml-5" ><small>Prenom  </small></label>
                                <input type="text" class="form-control" id="prenom" formControlName="prenom">
                                <app-validation-message-control [control]="userForm.controls.prenom"></app-validation-message-control>
                    
                                <label for="email"  ><small>Email  </small></label>
                                <input type="email" class="form-control" id="email" formControlName="email">
                                <app-validation-message-control [control]="userForm.controls.email"></app-validation-message-control>
                    
                                <label for="cpassword"  ><small>Confirm password  </small></label>
                                <input type="password" (input)="onPasswordChange($event.target.value)"  class="form-control" id="cpassword">

                    
                                <label for="tel" ><small>Telephone  </small></label>
                                <input type="text" class="form-control"  id="tel" formControlName="tel">
                                <app-validation-message-control [control]="userForm.controls.tel"></app-validation-message-control>
                        </div>  
                                 <div class="col-sm-5 ml-5 w-25">
                                <input type="submit" value="Enregistrer" class="btn btn-outline-info btn-sm border-0 font-weight-bold rounded-0 mt-4" [disabled]="!userForm.valid">
                                <button class="btn btn-light btn-sm mt-4 rounded-0">Annuler</button>    
                                 </div>
                         </form>
                </div>
    </div>


    <!--Suppression modal-->
<div class="modal fade " id="Alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content ">
        <div class="modal-header ">
            <strong class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              Important!</strong>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
          <div>cette action va déclencher une suppression de l'utilisateur courant et la création d'un nouveau ?? </div>
            <div class="modal-footer border-top-0">
              <button type="button" class="btn btn-light border-0 rounded-0 btn-sm" data-dismiss="modal">Annuler</button>
              <button (click)="updateUser()" class="btn btn-outline-danger font-weight-bold border-0 rounded-0" data-dismiss="modal">Valider</button>
            </div>
        </div>
      </div>
      
    </div>
  </div>


     <!--Le compte bien mis à jour-->
<div class="modal fade " id="Success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content ">
        <div class="modal-header ">
            <strong class="text-success"><i class="fa fa-check-circle" aria-hidden="true"></i>
                Success!</strong>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
          <div>Votre compte est mis à jour</div>
            <div class="modal-footer border-top-0">
              <a routerLink="../gestion" class="btn btn-secondary" data-dismiss="modal">Voir Tous</a>
              <a class="btn btn-info text-white" data-dismiss="modal">Rester</a>
            </div>
        </div>
      </div>
    </div>
  </div>

 

