.form-control{
    border-radius: 0;
}
.grandeImage{
    cursor: pointer;
    border-radius:50%;
    transition: 0.3s;
}
.divImage{
    border-style: solid;
    border-left-width:8px !important;
    position: relative;
}

.tdImage{
    position: relative;
}

.title{
    border-bottom:1px solid #A4A4A4;
}

input,select{
    outline: none;
    box-shadow:none !important;
}

.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
}

small{
    color:#424242;
}

.form-control:focus{
    border: solid 2px #81BEF7;
}

.tdImage:hover img{
    opacity: 0.5;
}

.tdImage:hover .caption {
    display: block;
}

.tdImage .caption {
    position: absolute;
    display:none;
    top: 45%;
    left: 0;
    width: 100%;
}

.actions{
    cursor: pointer;
    color:#424242;
}

.tdImage input{
    display: none;
}


#basic-addon1{
    background-color: white;
}



 
