
  <div *ngIf="demande!=null" style="overflow-y:scroll;max-height:550px;" id="stylescroll" class="card card-issues col-sm-4 d-inline-block align-top border-left-light border-right-light border-bottom-light ml-3">
      <div class="card-header" style="background-color:white;">
         <div class="row w-100 p-1 header">
                <div class="row w-100 p-0 d-inline cross">
                        <i class="fa fa-times p-0" (click)="demande=null"></i>
                        <i *ngIf="demande.subtask==true" class="fa fa-reply p-0" (click)="showPreviousIssue()" title="show issue's mother"></i>
                </div>
                <div class="row w-100 p-0 font-weight-bold title">
                        {{demande.nomDemande}}
                </div>
         </div>
      </div>
      <div class="card-body">
        <div class="row pb-1">

            <div *ngIf="demande.subtasks.length==0 && demande.responsable!=null" class="btn col-sm-12 btn-outline-light border-0 btn-sm showresponsable rounded" >
                <i *ngIf="auth.isAdmin() || auth.isScrumMaster()" class="fa fa-pencil float-left" data-toggle="collapse" data-target="#assigneResponsable" (click)="choisirResponsable()"></i>
                <img [attr.src]="'http://127.0.0.1:8080/photo/'+demande.responsable.pathPhoto" class="rounded-circle float-right" width="35" height="35">
                <a [routerLink]="['../../profil',demande.responsable.idUser]" class="d-inline text-info float-right font-weight-bold align-middle mr-2">{{demande.responsable.nom}} {{demande.responsable.prenom}}</a> 
            </div>
            
              <div *ngIf="demande.subtasks.length==0 && demande.responsable==null" class="btn col-sm-12 btn-outline-light border-0 btn-sm showresponsable rounded">
                    <i *ngIf="auth.isAdmin() || auth.isScrumMaster()" class="fa fa-pencil float-left" data-toggle="collapse" data-target="#assigneResponsable" (click)="choisirResponsable()"></i>
                    <img src="../../../assets/images/inconnu.jpg" class="rounded-circle float-right" width="35" height="35">
                    <p  class="d-inline text-info float-right font-weight-bold align-middle mr-2">Pas encore assignée</p> 
              </div>

              <div *ngIf="demande.subtasks.length!=0" class="btn col-sm-12 btn-outline-light border-0 btn-sm showresponsable rounded">
                    <i class="fa fa-ban text-danger align-middle"></i>
                    <p  class="d-inline text-danger font-weight-bold align-middle mr-2">Pas de responsable</p> 
              </div>

        </div>

        <div class="row pb-1 assigne-collapse collapse" style="background-color:#FBF8EF;" id="assigneResponsable">
                <button type="button" class="close"  aria-label="Close" (click)="close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
            <h6 class="border-bottom-light text-center">
                <i class="fa fa-user-circle-o align-bottom mt-3" aria-hidden="true"></i>
               Attribuer un responsable</h6>
              <form class="mx-auto w-75 formChoixResponsable">
               <div class="form-row">
                   <div class="form-group col-sm-12 align-bottom">
                       <select  data-role="select2" name="ResponsableChoisi">
                           <option value="0">Non attribué</option>
                           <option *ngFor="let dev of developpers" value="{{dev.idUser}}">
                               {{dev.nom}}
                               {{dev.prenom}}
                           </option>
                         </select>
                     </div>
                 </div>
                 <div class="form-row">
                    <div class="form-group">
                        <input type="submit" class="btn btn-outline-success btn-sm border-0 font-weight-bold rounded-0" value="Valider" (click)="responsableOfTask()">
                    </div>
                 </div>
              </form>
        </div>

         <div class="pb-1 col-sm-12">
            <ul class="row list-group pb-1">
                <li class="list-group-item issueInformation">Statut : {{demande.status}}</li>
            </ul>
             
                <ul class="row list-group pb-1">
                    <li class="list-group-item issueInformation">Estimation : {{demande.estimation}}</li>

                </ul>
                <ul class="row list-group pb-1">
                    <li class="list-group-item issueInformation">Priorité :  <span class="badge" [ngClass]="{'badge-info':demande.priority=='Medium','badge-danger':demande.priority=='High'}">{{demande.priority}}</span></li>
                     
                </ul>
                <ul class="row list-group pb-1">
                    <li class="list-group-item issueInformation">Réference ASAP : {{demande.key}}</li>
             
                </ul>
                <ul class="row list-group pb-1">
                    <li class="list-group-item issueInformation">Date de résolution : {{demande.endDate}}</li>
                
                </ul>
                <ul class="row list-group pb-1">
                    <li class="list-group-item issueInformation">Description </li>
                    <li class="list-group-item issueData">{{demande.description}}</li>
                </ul>
                <ul *ngIf="demande.subtasks.length!=0" class="row list-group pb-1">
                    <li class="list-group-item issueInformation">Sous tâches</li>
                    <li class="list-group-item mb-1 subtasks p-1" *ngFor="let subtask of demande.subtasks" (click)="showSubtaskInfo(subtask)">
                        <small>
                          <small class="btn btn-info btn-sm border-0 mr-2" style="font-size:9px;">
                                <i class='fa fa-clone text-white'></i>
                          </small>
                      {{subtask.nomDemande}}
                    </small>
                  </li>
                </ul>
         </div>
   </div>

  