.card-issues{
    border-top:solid rgb(4, 177, 70) 3px;
    border-radius: 0;
}

.issueInformation{
    font-weight: bold;
    font-size: 12px;
    border-top:none !important;
    border-left:none !important;
    border-right:none !important;
}

.issueData{
    font-size: 16px;
    border-left:none !important;
    border-right:none !important;
    border-bottom: none !important;
}

.subtasks:hover{
    background-color: #EFF8FB;
    cursor: pointer;
}

.header .cross i{
    display:none;
}

.card-header:hover{
    background-color: gainsboro;
}

.card-header:hover .header .title{
    color:gray;
}


#stylescroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#stylescroll::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#stylescroll::-webkit-scrollbar-thumb
{
	background-color:gray;
}



.card-header:hover .header .cross i{
    display:inline-block;
    cursor: pointer;
}