
<div class="card bg-light mb-3 w-50 h-50 mx-auto mt-5" style="max-width: 36rem;">
    <div class="card-header">
     <h6 style="color:cornflowerblue">Se connecter</h6>
    </div>
      <div>
        <div class="alert alert-danger" *ngIf="mode==1">
          <strong>Bad credentials !</strong> Invaliud email or password
        </div>
      </div>  
    <div class="card-body">
        <form [formGroup]="loginForm" (submit)="Login()" class=" w-50 mx-auto ">
  
        <div class="form-group">
                  <label  class="control-label" >Email Adress: </label>
                  <input  class="form-control " type="text" formControlName="email"  />
            </div>     
     
            <div class="form-group">
                <label class="control-label">Password:</label>
                <input class="form-control" type="password" formControlName="password" />
              </div>          
  
              <div class="col-sm-5 ml-5 w-50 mx-auto d-inline">
              <button type="submit" class="btn btn-info btn-sm btn-block">Login</button>
              </div>
  
          </form>
        </div>
  </div>