    
<mat-card>
    <mat-card-content>
        <div class="addForm">
            <form [formGroup]="teamForm" (ngSubmit)="saveTeam()" class="form-style">
                <mat-form-field class="nameTeam">
                    <input matInput type="text" id="name" name="name" formControlName="name" placeholder="Nom de l'equipe"  >
                </mat-form-field>
                        <button mat-icon-button  type="button" [disabled]="!showMinus" class="one-third" id="mat-icon" (click)="onDelete()" >
                                <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                        <button mat-icon-button type="button" [hidden]="!(name.dirty || name.touched)" (click)="AddUser()">
                            <i class="fa fa-user-plus fa_custom fa" aria-hidden="true"></i>
                        </button>
                        <br/>
                            <div  class="search-style" formArrayName="usernames" *ngFor="let item of usernames.controls; let i = index;">
                                <div class="search_column" [formGroupName]="i">
                                    <input class="search form-control" formControlName="name"  #instance="ngbTypeahead" name="search" id="search" type="text"
                                    [ngbTypeahead]="search" placeholder="Chercher un Membre" [resultFormatter]="formatMatches"
                                    [inputFormatter]="formatMatches" (focus)="focus$.next($event.target.value)"
                                    (click)="click$.next($event.target.value)"/> 
                                    <button class="remove_btn" mat-icon-button type="button" (click)="onRemoveUser(i)">
                                        <i class="fa fa-trash-o" style="font-size:18px;color:red" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <span *ngIf="searching">Recherche...</span>
                                <div class="form-control-feedback" *ngIf="searchFailed">Aucune suggestion </div>
                        </div>
                        <div class="save_btn">
                            <button mat-raised-button type="submit"  [disabled]="isDisabled()" class="mat-typography" color="primary">Sauvegarder</button>
                        </div>
                </form>
        </div>
    </mat-card-content>
</mat-card>

