.fa_custom {
	color: #0099CC;
}

mat-form-field{
	margin-right: 14px;
	margin-top: 10px;
} 

.form-style {
	margin-left: 25px;
	margin-top: 10px;
}

.search-style{
   max-width: 500px;
   display: inline-block;
   margin-left: 10px ;
   margin-top:10px;
}

.search {
	border-color: rgb(0, 191, 255);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(0, 128, 255);
}

.search_column input[type=text] {
	padding-right: 10px;
}

.search_column{
	position: relative; 
}

.search_column button{
	position: absolute;
	right: 2px ;
	top: -2px;
} 

.save_btn{
	text-align:center;
	margin-top:10px;
}


