<div class="container">
<div class="card card-projet col-sm-6 ml-2 align-top border-left-light border-right-light border-bottom-light d-inline-block" >
        <div class="card-body text-secondary ">
                <h5 class="card-title ">Fiche de Projet </h5>
                <div class="card-text">
                    <div class="card-info">
                    <ul  class="list-group">
                      <li class="list-group-item border-0">
                          <i class="fa fa-id-badge mr-2" aria-hidden="true"></i>
                          Code Ap : {{projet.codeAP}}
                          </li>
                          <br>
                          <li class="list-group-item border-0">
                          <i class="fa fa-briefcase mr-2" aria-hidden="true"></i>
                          Nom Projet :{{projet.nomProjet}}
                        </li>
                        <br>
                        <li class="list-group-item border-0">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
            
                          Date Début :{{projet.date_debut |date:'dd/MM/yyyy'}}
                        </li>
                        <br>
                        <li class="list-group-item border-0">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
            
                            Date Fin :{{projet.date_fin |date:'dd/MM/yyyy'}}
                        </li>
                        <br>
                        <li class="list-group-item border-0">
                            <i class="fa fa-id-badge mr-2" aria-hidden="true"></i> 
                            Responsable: {{resp.nom}} {{resp.prenom}} 
                        </li>

                    </ul>
                </div>
                    </div>
</div>
</div>

<div class="card card-applications col-sm-5 ml-5 align-top d-inline-block border-left-light border-right-light border-bottom-light " >
        <div class="card-body">
                <a  data-toggle="collapse" [attr.data-target]="'#' + projet.idProjet"> 
                        <button type="button" class="btn btn-outline-secondary">Liste des applications du projet :</button>
   <!-- 
                     <h5 class="card-title text-success"> Liste des applications du projet :  </h5> -->
                </a>
                   
                 <div id="{{projet.idProjet}}" class="collapse">

           
 
                <div class="card-text ">
                    <div class="card-info">
                    <ul class="list-group">
                            <li class="list-group-item border-0" *ngFor="let u of allApps">  
                                        
                                      {{u.nomApplication}}
                           
                            
                             </li>
                
                        </ul>

        



</div>
</div>
</div>
</div>
<br>
<br>
<button type="button" routerLink="../ListeProjets" class="btn btn-info">Back to List</button>

</div>
