.header{
    background-color: rgb(242, 242, 242);
}

.btn{
    border-radius: 0;
}
.card-info{
    font-size:15px;
    background-color: white;
   

}
.card-projet{
    border-top:solid #BDBDBD 8px;
    border-radius: 0;
}
.card-applications{
    border-top:solid #088A4B 8px;
    border-radius: 0;
   
}
.card{
    height: 450px;
    width: 500px;
    align-content: center;
}

.card-body{
    height: 400px;
    width: 450px;
}

ul{
    list-style-type: none; 
}
li{
    padding-bottom: 10px;
}
.fa{
    color:#424242;
}
.container{
    background-color: white;
}

