.card, .card-header, .card-body{
    background-color: white;
}

.special{
    color:#424242;
}

.special:hover{
    background-color: #EFF8FB;
}

.action{
    cursor: pointer;
}
ul{
    list-style-type: none; 
}
.move{
    cursor: move;
    border-radius:0;
}

.select2 {
    width: 100%!important; /* overrides computed width, 100px in your demo */
  }

.actions{
    cursor: pointer;
    color:#6E6E6E;
}

.searchinput:focus {
border-bottom-color:#04B404;
box-shadow:0 0 0;
}

input,select{
    outline: none;
    box-shadow:none !important;
}

.form-control:focus{
    border: solid 2px #81BEF7;
}

.iconesearch{
    background-color: white;
}


.issues{
    color:#A4A4A4;
}

.dropdown-toggle::after {
    display:none
}


.infoSprint{
    font-weight: bold;
    color: #0B3861;
}

.sprintsName{
    font-weight: bold;
}

.form-control{
    border-radius: 0px;
}

.text-planification{
    font-family: Plantagenet_Cherokee;
    color: #0B3861;
}

.searchinput:focus{
    box-shadow: 0;
}

.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
}


.card-sprint{
    border-top:solid #0489B1 3px;
    border-radius: 0;
}

.sprintsName:before{
    content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    padding-right: 0.4em;
}

.list-group-item-demande:hover{
    background-color: #EFF8FB;
    cursor: pointer;
}

.selected_style{
    background-color: #EFF8FB;
}





