
<div class="container" *ngIf="sprintsOfProjet!=null && sprintsOfProjet.length==0;else showSprints">
    <div class="row col-sm-8 mx-auto">
     <img src="../../assets/images/test.jpg">
     <div class="row col-sm-8 mx-auto">
        <p class="text-planification mt-2">Votre projet ne contient encore aucun sprint!! <br>Commencer à le planifier en cliquant sur <a *ngIf="auth.isAdmin() || auth.isScrumMaster()" class=" btn btn-sm rounded-0 btn-outline-info text-info"  (click)="createNewSprintHTML()">Créer sprint</a></p>
     </div>
     </div>
</div>

  <ng-template #showSprints>
  <div class="container">
  <div class="card col-sm-7 d-inline-block mx-auto card-sprint align-top border-left-light border-right-light border-bottom-light">
    <div class="card-header border-top-0 border-right-0 border-bottom-0 border-left-0">
        <button *ngIf="auth.isAdmin() || auth.isScrumMaster()" [disabled]="addSprintClicked" class="btn btn-outline-secondary btn-sm border-0 float-right d-inline-block align-bottom rounded-0" id="addSprintButton" (click)="createNewSprintHTML()">Create sprint</button>
        <div class="col-sm-6 input-group mr-0 mb-0">
            <div class="input-group-prepend">
                <span  class="input-group-text rounded-0 iconesearch border-top-0 border-left-0 border-right-0" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i>
                </span>
            </div>
            <input  type="text" (input)="searchSprint($event.target.value)" class="form-control sm-3 searchinput border-top-0 border-left-0 border-right-0" aria-describedby="basic-addon1">
      </div> 
      </div>
      
      <div class="card-body">

        <ul *ngFor="let sprint of sprintsOfProjet" class="list-group">

          <li *ngIf="sprint!=null" class="list-group-item border-0">

              <div class="dropdown text-center" ngbDropdown>
                  <a class="btn btn-light btn-sm border-0 float-right" ngbDropdownToggle>
                  <i class='fa fa-ellipsis-h text-secondary' aria-hidden='true'></i>
                  </a>
                  <ul ngbDropdownMenu>
                      <li *ngIf="auth.isAdmin() || auth.isScrumMaster()" class="dropdown-item"><a class="actions" (click)="sprintToDelete=sprint.idSprint" data-toggle="modal" data-target="#Alert" >Supprimer</a></li>
                      <li class="dropdown-item"><a [routerLink]="['../../chart',sprint.idSprint,sprint.nomSprint]">Burndown chart</a></li>
                  </ul>
              </div>

           <!-- nom du sprint et nombre de ses demandes -->
           <p class="sprintsName d-inline" data-toggle="collapse" [attr.data-target]="'#' + sprint.idSprint" >{{sprint.nomSprint}}<small class="ml-1 issues"> {{sprint.demandes.length}} issues</small></p>
           <!--  -->
          </li>
          
          <!-- liste des demandes de sprint -->
          <li *ngIf=" sprint!=null && sprint.demandes!=null && sprint.demandes.length!=0"  id="{{sprint.idSprint}}" class="collapse bg-light">

           <div class="row bg-light">
             <ul class="list-group">
               <li class="list-group-item border-0 bg-light"><small class="infoSprint">Date de début :</small> <small>{{sprint.date_debut}}</small></li>
               <li class="list-group-item border-0 bg-light"><small class="infoSprint">Date de fin :</small> <small>{{sprint.date_fin}}</small></li>
               <li class="list-group-item border-0 bg-light"><a data-toggle="collapse" [attr.data-target]="'#demandesOf' + sprint.idSprint"><small class="infoSprint">Liste des demandes</small></a></li>
             </ul>
             <ul class="list-group ">
                <li class="list-group-item border-0 bg-light"><small class="infoSprint">Statut :</small> <span class="badge badge-success">{{sprint.statut}}</span></li>
              </ul>
           
           <div class="row">
              <ul  [attr.id]="'demandesOf' + sprint.idSprint" class="collapse">
                  <!-- Liste des demandes -->
                  <li  *ngFor="let d of sprint.demandes | paginate: { itemsPerPage: itemsOfPage, currentPage: page }; let i = index" class="list-group-item p-1 mb-1 list-group-item-demande" (click)="detailsDemande(d)" [ngClass]="{'selected_style':d==selectedIssue}">
                          <small>
                                <i class="fa fa-check-square mr-1" style="color:#23b0ed;"></i>
                            {{d.nomDemande}}
                            <small *ngIf="d.subtasks.length!=0" class="d-inline issues">
                               {{d.subtasks.length}} subtasks
                              </small>
                            </small>
                 </li>
                 <small><pagination-controls (pageChange)="page = $event"></pagination-controls></small>
               </ul>
           </div>
          </div>
          </li>

          <li *ngIf="sprint==null" class="pt-2">
              <form [formGroup]="FormSprint" class="form-inline" (submit)="saveSprint()">
                  <div class="form-group">
                    <label for="sprint" class="mr-3"><small>Numero du sprint</small></label>
                    <input type="number" formControlName="sprintName" class="form-control form-control-sm" id="sprint">
                    <app-validation-message-control [control]="FormSprint.controls.sprintName"></app-validation-message-control>
                  </div>
                  <button type="submit" class="btn btn-outline-success btn-sm rounded-0 border-0 ml-3" [disabled]="!FormSprint.valid">Enregistrer</button>
                </form>
          </li>

           </ul>
           </div>
           </div>

              <app-details-demande [demande]="selectedIssue" [idprojet]="idprojet"></app-details-demande>

  </div>
</ng-template>

  <div class="modal fade " id="Alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content ">
        <div class="modal-header ">
            <strong class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              Important!</strong>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>Voulez vous vraiment supprimer ce Sprint?? </div>
            <div class="modal-footer border-top-0">
              <button type="button" class="btn btn-light rounded-0" data-dismiss="modal">Annuler</button>
              <button (click)="deleteSprint()" class="btn btn-outline-danger font-weight-bold border-0 rounded-0" data-dismiss="modal">Supprimer</button>
            </div>
        </div>
      </div>
    </div>
  </div>

 


