
<div class="card w-80 mx-auto border-light">
    <div class="card-header border-top-0 border-right-0 border-bottom-0 border-left-0">
        <a routerLink="../AjouterProjet" class="btn btn-outline-info btn-sm rounded-0 border-0 float-right d-inline-block align-bottom ">New Project</a>
   
    </div>  
    <div class="card-header border-top-0 border-right-0 border-bottom-0 border-left-0" style="background-color:#FFFFFF; ">
          <div class="col title"> <h4 class="action"> Projets </h4></div>
        </div>
        <div class="special">
            <div class="col-sm-3 input-group mr-0 mt-3 mb-0">
                <input  type="text" (click)="searchAnimation()" (input)="searchProjet($event.target.value)" class="form-control sm-3 searchinput border-top-0 border-left-0 border-right-0" placeholder="Chercher"  aria-describedby="basic-addon1">
                <div class="input-group-prepend" (click)="searchAnimation()">
                  <span  class="input-group-text iconesearch border-top-0 border-left-0 border-right-0" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i>
                  </span>
              </div>
              </div>
              <div class="form-inline float-left mt-4 mb-0">
                  <label for="show" class="mr-2 ml-2">Show : </label>
                  <select class="selectpicker" id="show" (change)="itemsOfPage = $event.target.value">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                  </select>
                  </div>
                </div>
              
    <div class="card-body">
      <table class="table w-100  " >
      <thead>
        <tr>
            <th><small>CodeAP</small> </th>
            <th><small>Projet</small> </th>
            <th><small>Date de début</small> </th>
            <th><small>Date de fin</small> </th>
            <th><small>Responsable</small></th>
            <th><small>Actions</small></th>
           
            
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let u of allProjetsList | paginate: {itemsPerPage: itemsOfPage, currentPage : page}; let i = index"  >
            <td>{{u.codeAP}}  </td>
            <td>{{u.nomProjet}}  </td>  
             <td>{{u.date_debut |date:'dd/MM/yyyy'}}  </td>
             <td>{{u.date_fin |date:'dd/MM/yyyy'}}  </td>
             <td *ngIf="u.responsable!=null;else noResponsable"><h6 class="text-dark"><img  class="rounded-circle mr-2" width="40" height="40" [attr.src]="'http://127.0.0.1:8080/photo/'+u.responsable.pathPhoto"/>{{u.responsable.prenom}} {{u.responsable.nom}} </h6> </td>
             <ng-template #noResponsable>
             <td>...</td>
             </ng-template>
             <td><a  data-toggle="collapse" [attr.data-target]="'#' + u.idProjet"><i class="fa fa-ellipsis-h text-secondary"></i>
             </a>
                
            <tr class="text-center" class="collapse" id="{{u.idProjet}}">
              <td *ngIf="auth.isAdmin()" class="border-top-0"><a data-toggle="modal" data-target="#Alert" (click)="idprojet=u.idProjet" class="btn btn-light text-center"><span class="fa fa-trash " title=Delete style="color:#424242 ;"></span></a>

              <td *ngIf="auth.isAdmin()" class="border-top-0"><a [routerLink]="['../editproject',u.idProjet]"  class="btn btn-light text-center"> <span  class="fa fa-pencil-square-o " title="Edit" style="color:#424242;"></span></a></td>
              
              <td class="border-top-0"><a (click)="details(u.idProjet)" class="btn btn-light text-center"><span class="fa fa-info-circle " title="More Details"></span></a></td>
              
              <td *ngIf="auth.isAdmin() || auth.isScrumMaster()"class="border-top-0"><a [routerLink]="['../affectTeam',u.idProjet]" class="btn btn-light text-center"> <span class="fa fa-users" title="Affect Team" aria-hidden="true" style="color:#424242 ;"></span></a></td>
            
              <td class="border-top-0"><a [routerLink]="['../sprints',u.idProjet]" class="btn btn-light text-center"><span class="fa fa-calendar"></span></a></td>
            </tr>
             
            </tr>
      </tbody>

      </table>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
  
   </div>
   </div>

      <!--Modal details -->
    <div class="modal fade" id="MoreProjetdetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle" style="color:#01A9DB"><i class="fa fa-users fa-2x" style="padding-right:10px;"></i>Les collaborateurs du projet et leurs tâches</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           
          </div>
        </div>
      </div>
    </div>


    <!--Modal Alert-->
    
    <div class="modal fade " id="Alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content ">
            <div class="modal-header ">
                <strong class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  Important!</strong>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body ">
              <div>Voulez vous vraiment supprimer cet utilisateur?? </div>
                <div class="modal-footer border-top-0">
                  <button type="button" class="btn btn-light" data-dismiss="modal">Annuler</button>
                  <button (click)="deleteprojet()" class="btn btn-danger" data-dismiss="modal">Supprimer</button>
                </div>
            </div>
          </div>
        </div>
      </div>



<!--details-->

<div class="modal" id="details" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Plus de details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    
        <div class="modal-body">
          <div>
            <ul class="list-group">
              <li  id="codeAP" class="list-group-item"></li>
              <li id="nomProjet" class="list-group-item"></li>
              <li id="date_debut" class="list-group-item"></li>
              <li id="date_fin" class="list-group-item"></li>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
                <button type="button" class="btn btn-primary">Modifier</button>
              </div>
           
            </ul>
          </div>
        </div>
      </div>
    </div>
  





      