<div class="card w-80 mx-auto border-light">
    <div class="card-header border-top-0 border-right-0 border-bottom-0 border-left-0">
<a routerLink="../AjouterApplication" class="btn btn-outline-info float-right d-inline-block align-bottom ">New Application</a>
        
  
    
    </div>  
    <div class="card-header border-top-0 border-right-0 border-bottom-0 border-left-0" style="background-color:#FFFFFF; ">
        <div class="col title"> <h4 class="action"> Applications </h4></div>
      </div>
        <div class="special">
            <div class="col-sm-3 input-group mr-0 mt-3 mb-0">
                <input  type="text" (click)="searchAnimation()" (input)="searchApp($event.target.value)"class="form-control sm-3 searchinput border-top-0 border-left-0 border-right-0" placeholder="Chercher"  aria-describedby="basic-addon1">
                <div class="input-group-prepend" (click)="searchAnimation()">
                  <span  class="input-group-text iconesearch border-top-0 border-left-0 border-right-0" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i>
                  </span>
              </div>
              </div>
              <div class="form-inline float-left mt-4 mb-0">
                  <label for="show" class="mr-2 ml-2">Show : </label>
                  <select class="selectpicker" id="show" (change)="itemsOfPage = $event.target.value">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                  </select>
                  </div>
                </div>
                <br>
                <br>
              
    <div class="card w-75 mx-auto border-light">
      <table class="table w-75 " >
      <thead>
          <tr>
              <th><div style="font-size:medium;font-style: normal;color:lightslategray;">Application</div></th>
              <th><div style="color:lightslategray">Projet</div></th>
              <th><div style="color:lightslategray"></div></th>
         
         
             
             </tr>
      </thead>

      <tbody>
          <tr *ngFor="let p of allAppList | paginate: {itemsPerPage: itemsOfPage, currentPage : page}; let i = index"  >
              
            <td>{{p.nomApplication}}  </td>
                   
               <td >{{p.projet.nomProjet}} </td>
               
               <td><a  data-toggle="collapse" [attr.data-target]="'#' + p.idApplication"><i class="fa fa-ellipsis-h text-info" style="font-size:24px;"></i>
                </a>
                <div id="{{p.idApplication}}" class="collapse">

                    <a data-toggle="modal" data-target="#Alert" (click)="idApplication=p.idApplication"> <i class="fa fa-trash " title=Delete style="color:#424242 ;"></i></a>
                    
                    <a (click)="Update(p.idApplication)"> <i  class="fa fa-pencil-square-o " title="Edit" style="color:#424242 ;"></i></a>
              
                     
                 </div>
             

                </td>
         
              </tr>
      </tbody>

      </table>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
  
   </div>
   </div>


   <!--Modal Alert-->
    
   <div class="modal fade " id="Alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content ">
          <div class="modal-header ">
              <strong class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                Important!</strong>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body ">
            <div>Voulez vous vraiment supprimer cette application ? </div>
              <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-light" data-dismiss="modal">Annuler</button>
                <button (click)="deleteApp()" class="btn btn-danger" data-dismiss="modal">Supprimer</button>
              </div>
          </div>
        </div>
      </div>
    </div>


   