.action{
    color:#424242;
    cursor: pointer;
}
.title{
    border-bottom:1px solid #A4A4A4;
}
.searchinput{
    border-radius: 0;
}
.iconesearch{
    background-color: white;
}
.form-control{
    border-radius: 0;
    box-shadow: 0 0 0 ;
}

.input-group{
    float: right;
}
.card-header{
    background-color: white;
}