<div class="card w-75 mx-auto border-light">
  <div class="card-header border-top-0 border-right-0 border-left-0" style="text-align: center;background-color:#FFFFFF;">
         <h4>Update Project</h4>
      </div>
  <div class="card-body">
   <form class="block w-75 mx-auto" id="update" >
          
         

          <label for="codeHelp" >Code AP : </label>
          <input type="text" class="form-control "[(ngModel)]="projet.codeAP" name="codeAP" id="codeHelp" aria-describedby="codeHelp" >
          <small id="codeHelp" class="form-text text-muted"> </small>

            <label for="nomProjet" >Nom projet: </label>
            <input type="text" class="form-control " [(ngModel)]="projet.nomProjet"  name="nomProjet" id="nomProjet" aria-describedby="nomProjetHelp" >
            <small id="nomProjetHelp" class="form-text text-muted"></small>
         
       
            <label for="date_debut" >Date début projet : </label>
            <input type="date"  class="form-control  " [(ngModel)]="projet.date_debut" name="date_debut" id="date_debut" aria-describedby="dateDebutHelp" >
            <small id="dateDebutHelp" class="form-text text-muted"></small>
                
              <label for="date_fin" >Date fin projet : </label>
              <input type="date" class="form-control "[(ngModel)]="projet.date_fin" name="date_fin" id="date_fin" aria-describedby="dateFinHelp" >
              <small id="dateFinHelp" class="form-text text-muted"></small>
              


              <div class="form-group">
                <label for="choixresp"  >Responsable Projet : </label>
            
             
                
                <select name="idusers" id="choixuser" class="form-control mr-sm-2"  >
                    <option value="{{resp.idUser}}" selected="selected" >{{resp.nom}} {{resp.prenom}}</option>
                    <option *ngFor="let u of listSM" value="{{u.idUser}}">{{u.nom}} {{u.prenom}}</option>                    
   
             
              </select>
            </div>

            <p>
   
              <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
            
            <button data-target="#Success" (click)="update()" type="submit" class="btn btn-primary"data-dismiss="modal" value="Valider">Submit</button>
            <a routerLink="../ListeProjets" class="btn btn-link float-right d-inline-block align-bottom ">Back to List</a>

           
          
   </form>
  </div>
</div>

<div class="modal fade " id="Success"  role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content ">
        <div class="modal-header ">
            <strong class="text-success"><i class="fa fa-check-circle" aria-hidden="true"></i>
                Success!</strong>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
          <div>Votre projet est mis à jour</div>
            <div class="modal-footer border-top-0">
            
              <a class="btn btn-info text-white" data-dismiss="modal">Rester</a>
            </div>
        </div>
      </div>
    </div>
    </div>




