.header{
    background-color: #A4A4A4;
}
.imageProfil{
   /* border-radius: 50%;*/
}
.btn{
    border-radius: 0;
}
.card-info{
    font-size:20px;
}
ul{
    list-style-type: none; 
}
li{
    padding-bottom: 8px;
}
.fa{
    color:#424242;
}
.container{
    background-color: white;
}
