
<div class="card w-75 mx-auto align-top mr-0">
    <div class="card-header bg-light mt-2 border-top-0 border-right-0 border-bottom-0 border-left-0">
        <div class="header-image d-inline-block align-bottom">
        <img  class="imageProfil" width="200" height="200" [attr.src]="'http://127.0.0.1:8080/photo/'+user.pathPhoto"/>
        </div>
        <div class="info d-inline-block align-bottom">
      <ul>
          <li>
                <span *ngIf="user.role=='Scrum Master'" class="badge  badge-info">{{user.prenom}} {{user.nom}}</span>
                <span *ngIf="user.role=='Administrateur'" class="badge  badge-danger">{{user.prenom}} {{user.nom}}</span>
                <span *ngIf="user.role=='Developpeur'" class="badge  badge-success">{{user.prenom}} {{user.nom}}</span>
          </li>
        <li>
            <i class="fa fa-id-badge mr-2" aria-hidden="true"></i>
            Revoke :  {{user.revoke}}
        </li>
        <li>
        <i class="fa fa-briefcase mr-2" aria-hidden="true"></i>
            {{user.role}}
        </li>
        <li>
            <i class="fa fa-phone-square mr-2" aria-hidden="true"></i>
            {{user.tel}}
        </li>
        <li>
            <i class="fa fa-envelope mr-2" aria-hidden="true"></i>
            {{user.email}}
        </li>
      </ul>
    </div>
     </div> 
    <div class="card-body mt-2 bg-light">
       
    </div>
  </div>



 