
<div class="card w-75 mx-auto border-light mt-5">
  
  <div class="card-header text-center border-top-3 border-right-0 border-left-0 border-bottom-0" style="background-color:#FFFFFF;">
      <img src="../assets/images/APPLICATION.png " width="150" height="150" ><br><br>
    <h5 class="card-title"> <strong class="card-subtitle mb-2 text-muted" >Edit App</strong></h5>
      </div>
  <div class="card-body">
    <form class="block w-75 mx-auto" id="update" >

      <div class="form-group">
    <label for="choixprojet">Project</label><br>
    <select name="idprojet" id="choixprojet" class="form-control mr-sm-2" >
      <option value="{{prj.idProjet}}" selected="selected">{{prj.nomProjet}}</option>
      <option *ngFor="let p of listeProjets" value="{{p.idProjet}}">{{p.nomProjet}}</option>
    </select>
   </div>
                <label for="nomApplication" >Name : </label>
                <input type="text" class="form-control " [(ngModel)]="app.nomApplication"  name="nomApplication" id="nomApplication" aria-describedby="nomApplicationHelp" >
                <small id="nomApplicationHelp" class="form-text text-muted"></small>
          
               
      <div >
        <br>
<!--         <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
 --><p>
   
  <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

      
  <button (click)="Update()" type="submit" class="btn btn-primary"data-dismiss="modal" value="Valider">Update</button>
  <a routerLink="../GestionApplications" class="btn btn-link float-right d-inline-block align-bottom ">Back to List</a>

    </div>
    </form>

  </div>
  </div>


          
    

  
      