<div class="card w-100 mx-auto border-top-0 border-bottom-0 border-left-0 border-right-0 ">
  <div class="card-header border-top-0 border-right-0 border-bottom-0 border-left-0">
        <div class="col title"> <h4 class="action">Comptes
          <a routerLink="../../comptes/actions"><i class="fa fa-plus-square action float-right" aria-hidden="true"></i></a>
        </h4>
        </div>
        <div class="special">
        <div class="col-sm-3 input-group mr-0 mt-3 mb-0">
            <input  type="text" (click)="searchAnimation()" (input)="searchUser($event.target.value)" class="form-control sm-3 searchinput border-top-0 border-left-0 border-right-0" placeholder="Chercher"  aria-describedby="basic-addon1">
            <div class="input-group-prepend" (click)="searchAnimation()">
              <span  class="input-group-text iconesearch border-top-0 border-left-0 border-right-0" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i>
              </span>
          </div>
          </div>
          <div class="form-inline float-left mt-4 mb-0">
          <label for="show" class="mr-2 ml-2">Show : </label>
          <select class="selectpicker" id="show" (change)="itemsOfPage = $event.target.value">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
          </select>
          </div>
        </div>
      </div>
  <div class="card-body">
    <table  class="table w-100">
    <thead>
      <tr>
        <th class="border-top-0"><small>Profil</small></th>
        <th class="border-top-0" ><small>Nom</small></th>
        <th class="border-top-0"><small>Prenom</small></th>
        <th class="border-top-0"><small>Revoke</small></th>
        <th class="border-top-0"><small>Email</small></th>
        <th class="border-top-0"><small>Tel</small></th>
        <th class="border-top-0"><small>Grade</small></th>
        <th class="border-top-0"><small>Actions</small></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of allUsersList | paginate: { itemsPerPage: itemsOfPage, currentPage: page }; let i = index">
          <td  *ngIf="user.pathPhoto!=null;else noPhoto" class=" border-top-0 tdImage text-center" ><img (click)=" AgrandirImage(user.photoBase64,user.nom,user.prenom)" class="grandeImage rounded-circle pt-0 pb-0" width="40" height="40" [attr.src]="'http://127.0.0.1:8080/photo/'+user.pathPhoto"/></td>
          <ng-template #noPhoto>
            <td class="tdImage border-top-0"><img  class="grandeImage rounded-circle " width="40" height="40" src="../../../assets/images/inconnu.jpg"/></td>
          </ng-template>
        <td class="border-top-0">{{user.nom}}</td>
        <td class="border-top-0">{{user.prenom}}</td>
        <td class="border-top-0">{{user.revoke}}</td>
        <td class="border-top-0">{{user.email}}</td>
        <td class="border-top-0" >{{user.tel}}</td>
        <td class="border-top-0" *ngIf="user.role == 'Scrum Master'"><span class="badge badge-info">Scrum master</span></td>
        <td class="border-top-0" *ngIf="user.role == 'Administrateur'"><span class="badge badge-danger">Administrateur</span></td>
        <td class="border-top-0" *ngIf="user.role == 'Developpeur'"><span class="badge badge-success">Developpeur</span></td>
        <td class="border-top-0 text-center">
            <a  data-toggle="collapse" class="" [attr.data-target]="'#'+user.idUser">
                <i class='fa fa-ellipsis-h text-secondary action' aria-hidden='true'></i>
            </a>
        </td>
        <div class="border-top-0" class="collapse" id="{{user.idUser}}">
              <tr>
                    <td *ngIf="auth.isAdmin()" class="border-top-0"><a (click)="userToDelete=user.idUser" data-toggle="modal" data-target="#Alert" class="btn btn-light text-center"><span class="fa fa-trash action" aria-hidden="true" ></span></a></td>
                    <td *ngIf="auth.isAdmin()" class="border-top-0"><a [routerLink]="['../editaccount',user.idUser]" class="btn btn-light text-center"><span class="fa fa-pencil-square-o  action" aria-hidden="true"></span></a></td>
                    <td class="border-top-0"><a [routerLink]="['../profil',user.idUser]" class="btn btn-light text-center"><span class="fa fa-info-circle  action" aria-hidden="true"></span></a></td>
              </tr>
            </div> 
      </tr>
      
    </tbody>
    </table>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>



 <!--Modal Alert-->

 <div class="modal fade " id="Alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content ">
        <div class="modal-header ">
            <strong class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              Important!</strong>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
          <div>Voulez vous vraiment supprimer cet utilisateur?? </div>
            <div class="modal-footer border-top-0">
              <button type="button" class="btn btn-light" data-dismiss="modal">Annuler</button>
              <button (click)="deleteUser()" class="btn btn-outline-danger font-weight-bold border-0 rounded-0" data-dismiss="modal">Supprimer</button>
            </div>
        </div>
      </div>
    </div>
  </div>

<!-- The Modal -->
<div id="myModal" class="modalImage">
  <span class="closeImage" (click)="dismissImage()">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>



