
<div class="card w-75 mx-auto border-light">
  <div class="card-header border-top-0 border-right-0 border-left-0" style="text-align: center;background-color:#FFFFFF;">

    <h5 class="text-secondary">Ajouter nouveau Projet</h5>
      </div>
  <div class="card-body">
      

   <form id="addprojet" class="block w-75 mx-auto" (submit)="AddProjet()">
        
          <label for="codeHelp" >Code AP : </label>
          <input type="text" class="form-control "[(ngModel)]="projet.codeAP" name="codeAP" id="codeHelp" aria-describedby="codeHelp" >
          <small id="codeHelp" class="form-text text-muted"> </small>

            <label for="nomProjet" >Nom projet: </label>
            <input type="text" class="form-control " [(ngModel)]="projet.nomProjet"  name="nomProjet" id="nomProjet" aria-describedby="nomProjetHelp" >
            <small id="nomProjetHelp" class="form-text text-muted"></small>

            <label for="date_debut" >Date début projet : </label>
            
            <input type="date"  class="form-control  " [(ngModel)]="projet.date_debut" name="date_debut" id="date_debut" aria-describedby="dateDebutHelp" >
            <small id="dateDebutHelp" class="form-text text-muted"></small>
       

            <label for="date_fin" >Date fin projet : </label>
            <input type="date" class="form-control "[(ngModel)]="projet.date_fin" name="date_fin" id="date_fin" aria-describedby="dateFinHelp" >
            <small id="dateFinHelp" class="form-text text-muted"></small>
            
            
                  <div class="form-group">
                      <label for="choixresp"  >Responsable : </label>
                      <select name="idusers" id="choixuser" class="form-control mr-sm-2"  >
                          <option value="0" selected="selected" >--Selectionnez --</option>
                          <option *ngFor="let u of listSM" value="{{u.idUser}}">{{u.nom}} {{u.prenom}}</option>                    
                    </select>
                  </div>
          <br>
    
            <div class="col-sm-5 ml-5 w-25 d-inline">
                <input type="submit" value="Enregistrer" class="btn btn-info mt-4">
                <button class="btn btn-secondary mt-4">Annuler</button>   
                 </div>
            </form>
  </div>
</div>




 <!-- Fiche de projet après l'ajout -->
 <div class="modal fade " id="AfterAdding" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header ">
          <strong class="">
            <i class="fa fa-check-circle " style="font-size:24px ; color:forestgreen"aria-hidden="true">Projet créé avec succès</i>
      
          </strong>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body card w-75 mx-auto border-right-0 border-bottom-0 border-top-0 border-left-0">
                          
            <ul>
              <li>
                  <i class="fa fa-id-badge mr-2" aria-hidden="true"></i>
                  Code Ap : {{addedProjet.codeAP}}
                  </li>
                  <br>
                  <li>
                  <i class="fa fa-briefcase mr-2" aria-hidden="true"></i>
                  Nom Projet :{{addedProjet.nomProjet}}
                </li>
                <br>
                <li>
                    <i class="fa fa-calendar" aria-hidden="true"></i>

                    Date Début :{{addedProjet.date_debut |date:'dd/MM/yyyy'}}
                </li>
                <br>
                <li>
                    <i class="fa fa-calendar" aria-hidden="true"></i>

                    Date Fin :{{addedProjet.date_fin |date:'dd/MM/yyyy' }}
                </li>
                <br>
                
                <li>
                    <i class="fa fa-user-circle-o" style="font-size:20px" aria-hidden="true"></i>
                   
                    Responsable: {{addedProjet.responsable.nom}} {{addedProjet.responsable.prenom}}
                </li>

    
  </ul>
 
</div>
<br>


<br>
 </div>
</div>
</div>
      
    

     





