<div class="w-75 mx-auto">
    <div class="col">
        <h4 class=" d-inline float-right align-top" data-toggle="modal" data-target="#AllEquipes"><i class="fa fa-plus-square actions" style="color:#BDBDBD" aria-hidden="true"></i></h4>
          <div class=" d-inline-block align-top ">
            <label for="show" class="mr-2">Show : </label>
            <select class="selectpicker" id="show" (change)="itemsOfPage = $event.target.value">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
            </select>
            </div>
            </div>

<div class="card w-80 mx-auto border-light">
  <br>
  <div class="col title"> <h5>Affecter équipe au : {{projet.nomProjet}}</h5></div>
 <br>
  <br>
          <table  class="table table-bordered">
   <thead>
       <tr>
     
          <th>Equipe</th>
          <th>Action</th>
        </tr>
   </thead>

    <tbody >
        <tr *ngFor="let e of equipeProjet | paginate: {itemsPerPage: itemsOfPage, currentPage : page}; let i = index">

          <td>{{e.nomEquipe}}</td>
         
          <td><a data-toggle="modal" data-target="#Alert" title=Desaffecter (click)="showPopupDelete(e.idEquipe)"> <i class="fa fa-minus-square" aria-hidden="true"></i></a></td>
          <!-- <input type="hidden" ([ngModel])="equipeProjet" (change)="EquipesOfProjet(idProjet)" >   -->

        </tr>
    </tbody>


  </table>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
  </div>

 <!-- List des projets popup -->
 <div class="modal fade " id="AllEquipes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
            <div class="modal-content ">
              <div class="modal-header ">
                  
                  <strong class="card-body text-info"><i class="fa fa-users" aria-hidden="true"></i>
                  Affecter équipe</strong>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body ">
              
                  
                        <div>
                  <label for="choixequipe"  style="font-weight: bold; color :dimgrey ;">Equipe de projet : </label>
                  <select id="choixequipe" class="form-control mr-sm-2">
                      <option value="0" selected="selected">--Selectionner une Equipe--</option>
                    <option *ngFor="let e of equipesNonAffectees" value="{{e.idEquipe}}">
                       {{e.nomEquipe}}
                    </option>
                  </select>
                  </div>
                <br>
                  <div class="modal-footer border-top-0">
                    <button type="button" class="btn btn-infos" data-dismiss="modal">Annuler</button>
                    <button (click)="affecterEquipeToProjet()"   class="btn btn-info"  data-dismiss="modal">Valider</button>
                 
                  </div>
            
              </div>
            
       <!--Modal Alert-->
    
    <div class="modal fade " id="Alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content ">
            <div class="modal-header ">
                <strong class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  Important!</strong>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body ">
              <div>Voulez vous vraiment désaffecter cette équipe au projet</div>
                <div class="modal-footer border-top-0">
                  <button type="button" class="btn btn-light" data-dismiss="modal">Annuler</button>
                  <button (click)="desaffecterEquipe()"  class="btn btn-danger" data-dismiss="modal">Désaffecter</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    
 
  