
<div class="card w-75 mx-auto border-light mt-5">
  
    <div class="card-header text-center border-top-3 border-right-0 border-left-0 border-bottom-0" style="background-color:#FFFFFF;">
        <img src="../assets/images/APPLICATION.png " width="150" height="150" ><br><br>
      <h5 class="card-title"> <strong class="card-subtitle mb-2 text-muted" >Create New Application</strong></h5>
        </div>
    <div class="card-body">
      <form [formGroup]="appForm" class=" w-50 mx-auto " id="addApp" (submit)="addApp()" >

        

        <div class="form-group">
      <label for="choixprojet">Project :</label><br>
      <select  id="choixprojet" class="form-control">
        <option value="0" selected="selected">Select the application's project</option>
        <option *ngFor="let p of listeProjets" value="{{p.idProjet}}">{{p.nomProjet}}</option>
      </select>
     </div>
               

                  <label for="nomApplication" >Name : </label>
                  <input type="text" class="form-control " formControlName="nomApplication" required  id="nomApplication" aria-describedby="nomApplicationHelp" placeholder="Enter an application name"  required >
                  <app-validation-message-control [control]="appForm.controls.nomApplication"></app-validation-message-control>

          
      
        <div >
          <br>
          <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>


        
      </div>
      <div class="col-sm-5 ml-5 w-25 d-inline">
          <input type="submit" value="Enregistrer" class="btn btn-info mt-4" [disabled]="!appForm.valid">
          <button class="btn btn-secondary mt-4">Annuler</button>   
           </div>
      </form>

    </div>
    </div>
  
 
            
      

    
        