<div class="col title"> <h4>Ajouter un compte</h4></div>
<div class="card w-75 mx-auto border-top-0 border-bottom-0 border-left-0 border-right-0">
    <div class="card-body">

     <form [formGroup]="userForm" class=" w-100 " id="AddCompte" enctype="multipart/form-data" (submit)="AddCompte()" >

      <div class="form-row">
          <div class="col">
              <label for="Nom"  ><small>Nom <small class="required">*</small> </small></label>
              <input type="text" class="form-control"  formControlName="nom" id="Nom" >
              <app-validation-message-control [control]="userForm.controls.nom"></app-validation-message-control>
          </div>
          <div class="col">
              <label for="prenom ml-5" ><small>Prenom <small class="required">*</small> </small></label>
              <input type="text" class="form-control"  id="prenom" formControlName="prenom">
              <app-validation-message-control [control]="userForm.controls.prenom"></app-validation-message-control>
          </div>
        </div>

        <div class="form-row">
            <div class="col">
                <label for="revoke" ><small>Refog <small class="required">*</small> </small></label>
                <input type="text" class="form-control"  formControlName="revoke" id="revoke" >
                <app-validation-message-control [control]="userForm.controls.revoke"></app-validation-message-control>
            </div>
            <div class="col">
                <label for="email"  ><small>Email <small class="required">*</small> </small></label>
                <input type="email" class="form-control" id="email" formControlName="email">
                <app-validation-message-control [control]="userForm.controls.email"></app-validation-message-control>
            </div>
          </div>

          <div class="form-row">
              <div class="col">
                  <label for="password"  ><small>Password <small class="required">*</small> </small></label>
                  <input type="password" class="form-control" id="password"  formControlName="password" >
                  <app-validation-message-control [control]="userForm.controls.password"></app-validation-message-control>
              </div>
              <div class="col">
                  <label for="cpassword"  ><small>Confirm password <small class="required">*</small> </small></label>
                  <input type="password"formControlName="repassword" class="form-control" id="cpassword">
                  <small id="prenomHelp" class="form-text text-muted"></small>
              </div>
            </div>

            <div class="form-row">
                <div class="col">
                  <label for="tel" ><small>Telephone <small class="required">*</small> </small></label>
                  <input type="text" class="form-control" id="tel" formControlName="tel">
                  <app-validation-message-control [control]="userForm.controls.tel"></app-validation-message-control> 
                </div>
                <div class="col">
                    <label for="photo"  ><small>Photo de profil </small></label>
            <div class=" input-group ">
            <div class="input-group-prepend" (click)="showInputFile('photo')">
                <span  class="input-group-text" id="basic-addon1">
                    <i class="fa fa-camera actions"  aria-hidden="true"></i>
                </span>
              </div>
                <input  type="text" class="form-control " placeholder="choose file..." disabled=true aria-describedby="basic-addon1" formControlName="photo" id="chooseFileInput">
             </div>
             <input type="file" (change)="selectFile($event)"  class="form-control d-none" id="photo">
                </div>
              </div>

              <div class="form-row">
                  <div class="col">
                      <label for="role"  ><small>Rôle <small class="required">*</small> </small></label>
                    <select id="role" class="form-control" formControlName="role" >
                        <option value="0">--Sélectionner un rôle--</option>
                        <option value="Scrum Master">Scrum Master</option>
                        <option value="Administrateur">Admin</option>
                        <option value="Developpeur">Développeur</option>
                    </select>
                    <app-validation-message-control [control]="userForm.controls.role"></app-validation-message-control>
                  </div>
                </div>
                 <br>
                <div class="form-row">
                    <div class="col">
                        <input type="submit" value="Enregistrer" [disabled]="!userForm.valid"class="btn btn-outline-info btn-sm font-weight-bold border-0 rounded-0">
                        <button class="btn btn-light rounded-0  btn-sm text-secondary">Annuler</button> 
                    </div>
                  </div>

     </form>
    </div>
    </div>



  <!-- Fiche d'utilisateur après son ajout -->
  <div  class="modal fade " id="AfterAdding" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content ">
        <div class="modal-header rounded-0 bg-success text-white ">
            <strong class="">
              <i class="fa fa-check-circle mr-2 mb-1" aria-hidden="true"></i>
              <h6 class="d-inline">Votre compte est bien créé</h6>
            </strong>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body card border-right-0 border-bottom-0 border-top-0 border-left-0">
                        <div class="card-body">
                        <img *ngIf="addedUser.pathPhoto!=null"class="card-img-top col-sm-5 d-inline" [attr.src]="'http://127.0.0.1:8080/photo/'+addedUser.pathPhoto"  alt="Card image">
                          <div class="card-text col-sm-6 special d-inline-block align-middle">
                                <ul class="list-group">
                                    <li class="list-group-item mb-2 rounded-0 border-top-0 border-left-0 border-right-0">
                                        <h4 class="card-title">
                                                <span *ngIf="user.role=='Scrum Master'" class="badge badge-info rounded-0">{{addedUser.prenom}} {{addedUser.nom}}</span>
                                                <span *ngIf="user.role=='Administrateur'" class="badge badge-danger rounded-0">{{addedUser.prenom}} {{addedUser.nom}}</span>
                                                <span *ngIf="user.role=='Developpeur'" class="badge badge-success rounded-0">{{addedUser.prenom}} {{addedUser.nom}}</span>
                                          </h4>
                                        </li>
                                        <li class="list-group-item border-0">
                                            <i class="fa fa-id-badge actions mr-3" aria-hidden="true"></i>
                                            {{addedUser.revoke}}
                                        </li>
                                        <li class="list-group-item border-0">
                                        <i class="fa fa-briefcase actions mr-3" aria-hidden="true"></i>
                                            {{addedUser.role}}
                                        </li>
                                        <li class="list-group-item border-0">
                                            <i class="fa fa-phone-square actions mr-3" aria-hidden="true"></i>
                                            {{addedUser.tel}}
                                        </li>
                                        <li class="list-group-item border-0">
                                            <i class="fa fa-envelope actions mr-3" aria-hidden="true"></i>
                                            {{addedUser.email}}
                                        </li>
                                      </ul>
                                    </div>
                                    <br>
                          <a routerLink="../accounts" data-dismiss="modal"  class="text-secondary float-right">Tous Les comptes</a>
                        </div>
        </div>
      </div>
    </div>
  </div>

   

 
