#body-row {
    margin-left:0;
    margin-right:0;
}
body{
    background-color:white;
}
.navbar{
    background-color: #FAFAFA;;
    border-bottom:1px solid #BDBDBD;
}
.navbar .nav-link{
    color:black;
}
.navbar .navbar-brand{
    color:#424242;
}
#sidebar-container {
    min-height: 100vh;
    background-color:#FAFAFA;
    padding: 0;
    border-right: 1px solid #BDBDBD;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 300px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: black;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
    color:black;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #FAFAFA;;
    height: 35px;
}
.sidebar-separator {
    background-color: #FAFAFA;;
    height: 25px;
}
.logo-separator {
    background-color: #FAFAFA;;
    height: 60px;
}


/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
    content: none;
    display: inline;
    text-align: right;
    padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}