<div class="page-wrapper chiller-theme toggled">
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div id="toggle-sidebar">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="sidebar-brand">
                <a href="#">ASAPMonitoring</a>
            </div>
            <div class="sidebar-header" *ngIf ="currentUser | async as user">
                <div class="user-pic">
                    <img class="img-responsive img-rounded" [attr.src]="'http://127.0.0.1:8080/photo/'+user.pathPhoto" alt="User picture">
                </div>
                <div class="user-info">
                    <span class="user-name">{{user.prenom}}
                        <strong>{{user.nom}}</strong>
                    </span>
                    <span class="user-role">{{user.role}}</span>
                    <span class="user-status">
                        <i class="fa fa-circle"></i>
                        <span>Online</span>
                    </span>
                </div>
            </div>
            <!-- sidebar-header  -->
            <div class="sidebar-search">
                <div>
                    <div class="input-group">
                        <input type="text" class="form-control search-menu" placeholder="Search...">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>General</span>
                    </li>
                    <li class="sidebar-dropdown">
                        <a>
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                            <span>Accounts</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a *ngIf="auth.isAdmin()" routerLink="./addaccount">Add account
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="accounts">Show all</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="sidebar-dropdown">
                        <a>
                            <i class="fa fa-rocket" aria-hidden="true"></i>
                            <span>Projects</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a routerLink="./allproject">show all
                                    </a>
                                </li>
                                <li>
                                    <a *ngIf="auth.isAdmin()" routerLink="./addprojet">create project
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li>
                            <a routerLink="./manageTeam">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <span>Equipes</span>
                            </a>

                        </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            <a href="#">
                <i class="fa fa-bell"></i>
                <span class="badge badge-pill badge-warning notification">3</span>
            </a>
            <a href="#">
                <i class="fa fa-envelope"></i>
                <span class="badge badge-pill badge-success notification">7</span>
            </a>
            <a href="#">
                <i class="fa fa-cog"></i>
                <span class="badge-sonar"></span>
            </a>
            <a (click)="logout()">
                <i class="fa fa-power-off"></i>
            </a>
        </div>
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content w-100 h-100">
        <div class="container-fluid w-100 h-100">
                <router-outlet></router-outlet>
        </div>
    </main>
<!-- page-content" -->
</div>