img { max-width: 50px; }

.name_developer{
    display: inline-block;
 }

 .delete_user_style{
     margin-left: 10px
 }

 #container {
    display: table;
    }

  #row  {
    display: table-row;
    margin-top:30px;
    }

  #left, #right, #middle {
    display: table-cell;
    }

h3 {
    color: blue
}

.add_btn{
    margin-left: 15px;
    font-size: 10px;
    height:34px;
}

.form-style {
	margin-top: 10px;
}

.search-style{
   width: 200px;
   display: inline-block;
   margin-bottom:10px; 
}

.search {
	border-color: rgb(0, 191, 255);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(0, 128, 255);
}

.search_column input[type=text] {
	padding-right: 10px;
}

.search_column{
	position: relative; 
}

.search_column button{
	position: absolute;
	right: 2px ;
	top: -2px;
}

.close_icon {
    color: #FF0000;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
    right: 5px;
}