
<mat-card>
    <mat-card-header>
        <mat-card-title>Detail de l'Equipe</mat-card-title>
        <i class="close_icon fa fa-window-close" aria-hidden="true"></i>
    </mat-card-header>
    <mat-card-content>
     <div class="row">
        <mat-input-container>
                <input [ngModel]="selectedTeam.nomEquipe" matInput placeholder="Nom d'Equipe" #input>
        </mat-input-container>

        <button mat-raised-button  *ngIf="auth.isAdmin() || auth.isScrumMaster()" class="add_btn" (click)="addUser()" >Ajouter un developpeur</button>
    </div>

    <form [formGroup]="developersForm" class="form-style">
        <div  class="search-style" formArrayName="usernames" *ngFor="let item of usernames.controls; let i = index;">
                <div class="search_column" [formGroupName]="i">
                    <input class="search form-control" formControlName="name"  #instance="ngbTypeahead" name="search" id="search" type="text"
                    [ngbTypeahead]="search" (selectItem)="selectedItem($event)" placeholder="Chercher un Membre" [resultFormatter]="formatMatches"
                    [inputFormatter]="formatMatches" (focus)="focus$.next($event.target.value)"
                    (click)="click$.next($event.target.value)"/> 
                    <button  class="remove_btn" mat-icon-button type="button" (click)="onRemoveUser(i)">
                        <i class="fa fa-trash-o" style="font-size:15px;color:blue" aria-hidden="true"></i>
                    </button>
                </div>
                <span *ngIf="searching">Recherche...</span>
                <div class="form-control-feedback" *ngIf="searchFailed">Aucune suggestion </div>
        </div>
    </form>

    <h3> Liste des Membres </h3>

    <div id="container" class="list-group">
        <div id="row" class="list-group-item" *ngFor="let developer of developers$ | async" >
            <div id="left">
                <img class="img-circle" src=""/>
            </div>
            <div id="middle">
                <div class="name_developer"> {{developer.nom }} {{developer.prenom}} </div>
            </div>
            <div id="right">
                <button *ngIf="auth.isAdmin() || auth.isScrumMaster()" mat-icon-button type="button" class="delete_user_style" (click)="onDeleteUser(selectedTeam.idEquipe , developer.idUser)" >
                    <i class="fa fa-user-times" style="color:red" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
  </mat-card-content>
</mat-card>