<mat-card>
    <mat-card-content>
          <div class="row">
          <div class="column">
                <mat-card>
                <div class="spinner-container" *ngIf="dataSource.loading$ | async">
                  <mat-spinner></mat-spinner>
                </div>

                <mat-table #table [dataSource]="dataSource" matSort >
                  <ng-container matColumnDef="Nom Equipe">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Nom Equipe </mat-header-cell>
                      <mat-cell *matCellDef="let team"> {{ team.nomEquipe }}  </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Date de Création">
                      <mat-header-cell *matHeaderCellDef> Date de Création </mat-header-cell>
                      <mat-cell *matCellDef="let team"> {{ team.createdAt | date }} </mat-cell>
                    </ng-container>
                    
                    <ng-container  matColumnDef="Actions">
                        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                        <mat-cell *matCellDef="let team">
                            <button [disabled]="!auth.isAdmin()" mat-icon-button type="button" (click)="removeTeam(team.idEquipe)"> 
                                <i class="fa fa-trash" aria-hidden="true"></i> 
                            </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></mat-row>

                </mat-table>


                <mat-paginator [length]="totalElements" [pageSize]="5"
                    [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
                </mat-card>
              </div>

            <div class="column" [hidden]="isDetailHidden">
                  <app-team-detail [parentSubject]="parentSubject" [selectedTeam]="selectedTeam"></app-team-detail>
            </div>  
          </div>
      </mat-card-content>
    </mat-card>

    <style>
      mat-row:hover {
        cursor: pointer;
      }
    </style>