.spinner-container {
    height: 360px;
    width: 390px;
    position: fixed;
}

.spinner-container mat-spinner {
    margin: 130px auto 0 auto;
}
  
  .column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }
  
th.mat-sort-header-sorted {
    color: black;
  }