<ngb-tabset type="pills" (tabChange)="beforeChange($event)">
    <ngb-tab id="tab1" title="Modeliser Equipes">
        <ng-template ngbTabContent>
            <app-team-row *ngFor="let team of addedteams"></app-team-row>
        </ng-template>
    </ngb-tab>
    <ngb-tab id="tab2" title=" Equipes">
        <ng-template ngbTabContent>
            <app-teams-table></app-teams-table>
        </ng-template> 
    </ngb-tab>
</ngb-tabset>